body {
  background: #45858c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a0d9d9, #d9c589, #bf9765);
  background: linear-gradient(to right, #add4d9, #c1d96c, #f2c36b);
}

a {
  text-decoration: none;
  font-size: 17px;
}
p {
  font-size: 17px;
}
a:hover {
  color: rgb(236, 165, 57) !important;
}
/*Estilos Servicio.html*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1d202b;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.titulo {
  font-size: 24px;
  padding: 20px 0;
}

.contenedor-servicios {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 20px;
}

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.card {
  height: 50%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;
}

.banner ul {
  list-style: none;
}

.banner ul li {
  margin: 15px;
  font-weight: bold;
}

.banner .boton {
  background: #ffd600;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .body {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 600px) {
}
